apiVersion: v1
kind: Service
metadata:
  name: loyalty-backend
  labels:
    app: loyalty-backend
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: loyalty-backend

